body {
  background: #f2f5f9;
  font-family: Arial;
}

.card {
  width: 300px;
  background: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 95%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
}
